In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [4]:
data=pd.read_csv(r"C:\Users\mail2\OneDrive\Desktop\ML-2022\Ml_Data\Advertising.csv")

In [6]:
data=data.drop(["Unnamed: 0"],axis=1)

In [9]:
data.head(1)

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1

In [10]:
X_feature=data.iloc[:,0:3]
Y_target=data.iloc[:,3]

In [13]:
#X_feature
#Y_target

In [18]:
#data.corr()
#data.hist()
#plt.show()

In [19]:
from sklearn.model_selection import train_test_split

In [33]:
X_train,Xtest,Ytrain,Ytest=train_test_split(X_feature,Y_target,test_size=.30,random_state=101)

In [35]:
X_train.head(1)

       TV  radio  newspaper
85  193.2   18.4       65.7

In [36]:
trainer=LinearRegression()
learner=trainer.fit(X_train,Ytrain)

In [37]:
learner.coef_

array([ 0.04469599,  0.1875657 , -0.00032275])

In [38]:
learner.intercept_

3.1515267680706494

In [40]:
Yp=learner.predict(Xtest)
Ya=Ytest

In [41]:
error=np.sqrt(mean_squared_error(Yp,Ya))

In [42]:
error

1.516151937599388